<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Due:</b>
  <%= @item.due %>
</p>

<p>
  <b>Complete:</b>
  <%= @item.complete %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
